<launch>
	<include file="$(find rob_auto_cal)/launch/camera1394_launch.launch" />
	<node pkg="rob_auto_cal" name="chess_features" type="chess_features" args="0.025" />
	<include file="$(find rob_auto_cal)/launch/ur10_joint_publish.launch" />
	<node pkg="rob_auto_cal" name="save_joints_node" type="save_joints_node" output="screen" args="/misc/shome/ex09/Thesis/Jointlog" />
</launch>
 