<launch>
  <node pkg="camera1394" name="camera" type="camera1394_node">
      <param name="guid" value="000a47010f0781a1"/>
      <param name="video_mode" value="640x480_mono8"/>
      #<param name="iso_speed" value="600"/>
      #<param name="shutter" value="600"/>
      <param name="auto_exposure" value="2"/>
  </node> 

</launch>
 